* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box {
    position: relative;
    max-width: 370px;
    max-height: 370px;
    border-radius: 5%;
    background: linear-gradient(125deg, #00feba, #5b548a);
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 40px;
    font-size: 70px;
    text-align: center;
}

.buttons {
    width: 28%;
    height: 13vh;
    margin-top: 10px;
    background: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}

#restart {
    position: absolute;
    margin-left: 45%;
    width: 120px;
    height: 45px;
    margin-top: 3%;
    border: 1px solid lightseagreen;
    background: whitesmoke;
    color: lightseagreen;
    border-radius: 8px;
    font-size: 1.8rem;
}

#restart:active {
    background: lightseagreen;
    color: whitesmoke;
}